<!DOCTYPE HTML>
<html>
	<head>
		<title>Tanner Antons</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="fa fa-coffee fa-3"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Tanner Antons </h1>
								<p>I am a<span
									class="txt-rotate"
									data-period="2000"
									data-rotate='[ " python developer.", " web developer.", " freelancer"]'></span></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About Me</a></li>
								<li><a href="#contact">Contact</a></li>
								<!--<li><a href="#elements">Elements</a></li>-->
							</ul>
						</nav>
						<ul class="icons">
							<li><a href="https://twitter.com/tanner_antons" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://github.com/tanmanrok" class="icon brands fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/tanner-antons-077203261/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="intro">
								<h2 class="major">Intro</h2>
								<span class="image main"><img src="static/images/coffee.jpg" alt="" /></span>
								<p>Hello, my name is Tanner, I am a versatile and experienced technology professional with a diverse set of skills. As a Python developer and web developer, I have a strong background in creating and maintaining web applications. Additionally, I am well-versed in server administration and Linux usage, making me a valuable asset for any organization. I am a freelancer and currently seeking new opportunities to utilize my skills and contribute to the success of a team or project.</p>
								<p></p>
							</article>

						<!-- Work -->
							<article id="work">
								<h2 class="major">Works</h2>
								<span class="image main"><img src="static/images/hello.jpg" alt="" /></span>
								<ul class="alt">
									<li>
										<h2 class="major">Password Checker</h2>
										<p>One of the projects I have worked on in the past is a Python script that utilizes an API to check passwords against a database. Specifically, I used the API provided by the website <a href="https://haveibeenpwned.com/">haveibeenpwned.com</a> to check if a given password has been compromised in any data breaches. This project was aimed at helping users ensure the safety of their passwords by checking them against a database of known compromised passwords.</p>
										<p>To implement this project, I first had to familiarize myself with the API and the data it provided. I then wrote a Python script that takes a password as input and sends a request to the API with the password's SHA-1 hash. The API then responds with a list of data breaches in which the password has been compromised, if any. The script then parses the response and presents the information to the user in an easy-to-understand format.</p>
										<p>This project not only allowed me to improve my Python skills but also gave me an opportunity to work with an API and learn about data breaches and password safety. It also helped me to understand the importance of password safety and the potential risks of using weak or compromised passwords.</p>
									</li>
									<li>
										<h2 class="major">Scrapping Hacker News</h2>
										<p>Another project I have worked on in the past is a web scraper that scrapes articles from the website Hacker News. The goal of the project was to extract articles that have received 100 or more points, as they are considered to be popular and relevant. I used the Python library Beautiful Soup to scrape the data from the website.</p>
										<p>To implement this project, I first had to analyze the website's HTML structure and identify the relevant data that I wanted to extract. I then used Beautiful Soup to navigate through the HTML and extract the necessary information, such as the title, link, and number of points for each article. I also added a filter to only extract articles that have received 100 or more points.</p>
										<p>The data was then stored in a structured format, like a CSV file or JSON file, for further analysis or use. This project not only allowed me to improve my web scraping skills but also gave me an opportunity to work with Beautiful Soup and learn about web scraping techniques.</p>
										<p>Additionally, it also helped me to understand the importance of having the data structured for an easy analysis. It also helped me to understand the importance of the data and the potential uses of the same.</p>
									</li>
									<li>
										<h2 class="major">Website</h2>
										<p>Another project I have worked on in the past is a website built using a variety of technologies such as SCSS, JavaScript, HTML, CSS, Flask, and Python. The website was designed to be visually appealing and interactive, with a lot of animations and a functional form page that stores contact information in a database.</p>
										<p>To implement this project, I first had to design the layout of the website and create the animations using SCSS and JavaScript. I then wrote the HTML and CSS code to create the structure and styling of the website. For the server-side logic, I used Flask, a micro web framework for Python, to handle the form submissions and store the information in a database.</p>
										<p>The website was designed to be responsive and work seamlessly across different devices and screen sizes. I also added functionality to handle form validation and error handling to ensure that the form submissions are processed correctly.</p>
										<p>This project allowed me to improve my skills in web development and work with different technologies such as SCSS, JavaScript, HTML, CSS, Flask, and Python. It also helped me to understand the importance of user experience and the potential uses of the same. Additionally, it also helped me to understand the importance of the data validation, error handling and the potential uses of the same.</p>
									</li>
									<li>
										<h2 class="major">PDF to Audio</h2>
										<p>Another project I have worked on in the past is a PDF to audio converter using Python, GTTS, PyPDF2, and PySimpleGUI. The goal of the project was to create a tool that can convert a PDF document into an audio file, allowing users to listen to the content of the PDF instead of reading it.</p>
										<p>To implement this project, I first had to install and import the necessary libraries such as GTTS, PyPDF2, and PySimpleGUI. I then wrote a Python script that takes a PDF file as input and uses PyPDF2 to extract the text from the PDF. The script then uses GTTS to convert the text into speech and save it as an audio file. PySimpleGUI was used to create a simple graphical user interface for the tool, making it easy for users to select the PDF and save the audio file.</p>
										<p>This project allowed me to improve my skills in Python programming and work with different libraries such as GTTS, PyPDF2, and PySimpleGUI. It also helped me to understand the importance of accessibility and the potential uses of the same. Additionally, it also helped me to understand the importance of the text to speech conversion and the potential uses of the same.</p>
									</li>
								</ul>
							</article>

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<span class="image main"><img src="static/images/IMG_0693.jpeg" alt="" /></span>
								<p>Welcome to my personal website! My name is Tanner, and I am a passionate and dedicated software developer with 2 years of experience in the industry.</p>
								<p>I specialize in Python development and have a strong background in creating and maintaining web applications. Additionally, I am well-versed in server administration and Linux usage. I love Linux as my main OS, and I am always looking for ways to improve my skills and knowledge in this area.</p>
								<p>One of my main interests is Artificial Intelligence and I have been programming in this field for some time. I also have experience in server maintenance, and I am always looking for ways to improve the performance of the systems that I work on. Additionally, I am highly interested in Cybersecurity and have been expanding my knowledge in this field, with a focus on Penetration Testing.</p>
								<p>As a freelancer, I am currently seeking new opportunities to utilize my skills and contribute to the success of a team or project. I am a quick learner and always ready to take on new challenges. If you are looking for a talented and dedicated developer with a passion for cybersecurity, I would be happy to discuss how I can help you achieve your goals.</p>
								<p>Thank you for visiting my website, and I look forward to hearing from you soon.</p>
							</article>
						<!--Contact-->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form action="submit_form" method="post" class="reveal-content">
									<div class="row">
									  <div class="col-md-7">
										<div class="field half">
										  <input name="email" type="email" class="form-control" id="email" placeholder="Email">
										</div>
										<div class="field half">
										  <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject">
										</div>
										<div class="form-group">
										  <textarea name="message" class="form-control" rows="5" placeholder="Enter your message"></textarea>
										</div>
										<button type="submit" class="btn btn-default btn-lg">Send</button>
										
									  </div>
									  <div class="col-md-5 address-container">
										<ul class="alt">
										  <li>
											<span class="fa-icon">
											  <i class="fa fa-phone" aria-hidden="true"></i>
											</span>
											+1 (719) 600-9985
										  </li>
										  <li>
											<span class="fa-icon">
											  <i class="fa fa-at" aria-hidden="true"></i>
											</span>
											tannerantons@gmail.com
										  </li>
										</ul>
				  
									  </div>
									</div>
								  </form>
							</article>
							<!--Thanks-->
							<article id="thanks">
								<h2 class="major">Thank You</h2>
								<p>I well be in contact shortly.</p>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script>
				var TxtRotate = function(el, toRotate, period) {
					this.toRotate = toRotate;
					this.el = el;
					this.loopNum = 0;
					this.period = parseInt(period, 10) || 2000;
					this.txt = '';
					this.tick();
					this.isDeleting = false;
					};

					TxtRotate.prototype.tick = function() {
					var i = this.loopNum % this.toRotate.length;
					var fullTxt = this.toRotate[i];

					if (this.isDeleting) {
						this.txt = fullTxt.substring(0, this.txt.length - 1);
					} else {
						this.txt = fullTxt.substring(0, this.txt.length + 1);
					}

					this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

					var that = this;
					var delta = 300 - Math.random() * 100;

					if (this.isDeleting) { delta /= 2; }

					if (!this.isDeleting && this.txt === fullTxt) {
						delta = this.period;
						this.isDeleting = true;
					} else if (this.isDeleting && this.txt === '') {
						this.isDeleting = false;
						this.loopNum++;
						delta = 500;
					}

					setTimeout(function() {
						that.tick();
					}, delta);
					};

					window.onload = function() {
					var elements = document.getElementsByClassName('txt-rotate');
					for (var i=0; i<elements.length; i++) {
						var toRotate = elements[i].getAttribute('data-rotate');
						var period = elements[i].getAttribute('data-period');
						if (toRotate) {
						new TxtRotate(elements[i], JSON.parse(toRotate), period);
						}
					}
					// INJECT CSS
					var css = document.createElement("style");
					css.type = "text/css";
					css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
					document.body.appendChild(css);
				};
			</script>

	</body>
</html>
import csv